<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<div class="container my 3">
    <h1 align="center">ADD DETAILS OF NEW STUDENT</h1>
    <form  action="#" th:action="@{/savedetails}"  th:object="${student}" method="POST">
        <label class="form-label">ROLL NO</label>
        <input type="text"  th:field="*{id}" class="form-control" >
        <label  class="form-label">NAME</label>
        <input type="text" class="form-control" th:field="*{Name}" >
        <label class="form-label">AGE</label>
        <input type="number" class="form-control" th:field="*{Age}" >
        <label class="form-label">GENDER</label>
        <input type="text" class="form-control" th:field="*{gender}" ><br>
        <label class="form-label">Department</label>
        <input type="text" class="form-control" th:field="*{department}" ><br>
        <button align="center" type="submit" class="btn btn-secondary">Save</button>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>